# Node modules
node_modules/

# Cypress generated folders
allure-results/
allure-report/
cypress/screenshots/
cypress/videos/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# MacOS & VSCode
.DS_Store
.vscode/

__pycache__/
*.csv
*.log
